name: ci

on:
  push:
    branches:
      - "*"   # triggers for any branch
    tags:
      - "*"   # triggers for any tag

jobs:
  # 1️⃣ Check that complete-demo.yaml is in sync
  complete-demo-sync-check:
    runs-on: ubuntu-latest
    env:
      COMPLETE_DEMO_ARGS: --rm -v ${{ github.workspace }}:/workdir
      COMPLETE_DEMO_DIR: 'deploy/kubernetes/'
      COMPLETE_DEMO_IMAGE: 'manifests-image'
    steps:
      - uses: actions/checkout@v2

      - name: Build image
        env:
          DOCKER_BUILDKIT: 1
        run: docker build -t $COMPLETE_DEMO_IMAGE $COMPLETE_DEMO_DIR

      - name: Check complete-demo.yaml content sync
        run: docker run $COMPLETE_DEMO_ARGS $COMPLETE_DEMO_IMAGE make -C $COMPLETE_DEMO_DIR check-complete-demo

  # 2️⃣ Deploy complete demo to KinD
  deployments-tests:
    needs: complete-demo-sync-check
    runs-on: ubuntu-latest
    env:
      kind-version: 'v0.10.0'
      kind-image: 'kindest/node:v1.20.0'
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2

      - name: Start KinD
        uses: engineerd/setup-kind@v0.5.0
        with:
          version: ${{ env.kind-version }}
          image: ${{ env.kind-image }}

      - name: Wait cluster to start
        run: |
          until [ "$(kubectl get pods -A --no-headers | grep -cEv '([0-9]+)/\1')" -eq 0 ]; do
              sleep 5s
          done
          kubectl get pod -A

      - name: Run and test Complete demo
        run: |
          kubectl apply -f deploy/kubernetes/complete-demo.yaml
          until [ "$(kubectl get pods -n sock-shop --no-headers | grep -cEv '([0-9]+)/\1')" -eq 0 ]; do
              sleep 5s
              kubectl get pods -n sock-shop
              kubectl describe node | grep "Allocated resources" -A 10
          done
          kubectl get pod -A

  # 3️⃣ Build & push all microservices to DockerHub
  build-and-push-images:
    needs: deployments-tests
    runs-on: ubuntu-latest
    env:
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
      DOCKERHUB_TOKEN: ${{ secrets.DOCKERHUB_TOKEN }}
    strategy:
      matrix:
        service: ["catalogue", "orders", "payment", "front-end", "shipping", "carts", "user", "queue-master", "edge-router", "catalogue-db", "orders-db", "user-db", "carts-db", "healthcheck", "openapi"]
    steps:
      - uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ env.DOCKERHUB_USERNAME }}
          password: ${{ env.DOCKERHUB_TOKEN }}

      - name: Build and push image
        uses: docker/build-push-action@v2
        with:
          context: ./ ${{ matrix.service }}
          push: true
          tags: ${{ env.DOCKERHUB_USERNAME }}/${{ matrix.service }}:latest
